name: scroll_highlight_text
description: Flutter package for highlighting and scrolling through text.
version: 0.0.8
homepage: https://github.com/AhmedZein1996/scroll_highlight_text.git

environment:
  sdk: '>=3.3.4 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
